
/bin/Debug/RayTracer.vshost.exe
/bin/Debug/RayTracer.vshost.exe.manifest
/bin/Debug/RayTracer.exe
/bin/Debug/RayTracer.pdb
/bin/Release/RayTracer.exe
/bin/Release/RayTracer.pdb
/bin/Release/RayTracer.vshost.exe
/bin/Release/RayTracer.vshost.exe.manifest
/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/GenerateResource-ResGen.read.1.tlog
/obj/x86/Debug/GenerateResource-ResGen.write.1.tlog
/obj/x86/Debug/RayTracer.Form1.resources
/obj/x86/Debug/RayTracer.csproj.FileListAbsolute.txt
/obj/x86/Debug/RayTracer.exe
/obj/x86/Debug/RayTracer.pdb
/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Release/GenerateResource-ResGen.read.1.tlog
/obj/x86/Release/GenerateResource-ResGen.write.1.tlog
/obj/x86/Release/RayTracer.Form1.resources
/obj/x86/Release/RayTracer.csproj.FileListAbsolute.txt
/obj/x86/Release/RayTracer.exe
/obj/x86/Release/RayTracer.pdb
*.docstates